/***************************************************************
*              SELECTORES GENERICOS
***************************************************************/

body {
  margin: 0;
  background: linear-gradient(to right bottom, var(--bg-color-1), var(--bg-color-2));
  font-family: 'Montserrat', serif;
}

h1 {
  color: var(--font-highlight-color);
  font-size: 1.8em;
}

/*Formato de enlaces. Sin decoración por defecto, con borde inferior dashed */
a {
  color: #000;
  text-decoration: none;
//  transition: all .2s ease-in-out;
}

/*Formato de enlaces cuando se pasa por encima*/
a:hover {
  color: var(--font-highlight-color);
//  font-size: 1.3em;
}

figure {
  margin: 0;
  padding: 3px;
}

abbr {
  text-decoration: none;
}

.box--highlight {
  background-color: var(--bg-highlight-color);
}

.simplepadding,
.globalpadding {
  padding-left: 1em;
  padding-right: 1em;
}

.img--responsive {
  width: 100%;
  height: auto;
}

.underscore {
  border-bottom: 2px solid var(--font-highlight-color);
}

.link {
  text-decoration: underline;
  font-weight: bolder;
}

.pie__copyright {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__img {
  margin-right: 2em;
  width: 3em;
}

/*Definimos el menú de navegación de la home como una lista desordenada */
.menu-site {
  color: #000;
  text-align: center;
}

.menu-site ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-site li {
  margin-top: 12px;
  padding: 0;
  display: block;
  font-size: 1.1em;
  font-weight: 700;
}


/***************************************************************
*              SELECTORES HOME INDEX.HTML
***************************************************************/


/*
La portada ocupa todo el viewport, utilizamos flex para que el pie aparezca en el bottom
*/
.box-portada {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pie-portada {
  padding: 0.1em 0 0.1em;
  text-align: center;
}

/*
Definimos la imagen de fondo sin repetir y cubriendo todo el fondo
Tamaño 100% del viewport
Cuando hay overflow se ocultan los elementos
La imagen está adaptado en peso y forma al tamaño del dispositivo
*/
.bgd-mallorca {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  }

/*
Formato de la imagen superior de la composición usando clip-path
(1) Se utilizan diferentes resoluciones de imágenes según tamaño dispositivo 
(2) También se ajusta el formato del clip-path para una mejor 
visualización según el formato pantalla
*/

.clip-top {
  position:absolute;
  top:0;
  left:0;
	width: 100%;
	height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.clip-left {
  position:absolute;
  left:0;
  bottom:0;
  width: 100%;
	height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/***************************************************************
*              SELECTORES PÁGINA CATEGORÍAS
***************************************************************/

.categoria__item,
.categoria__itemhd
 {
  list-style: none;
  text-align: center;
  margin: 0;
  margin-bottom: 2em;
  padding-bottom: 1.5em;
  background-color: var(--bg-highlight-color);
  box-shadow: 5px 10px 18px var(--box-shadow-color);
}

.categoria__img {
  width: 100%;
  height: auto;
  transition: opacity 1s;
}

.categoria__img:hover {
  opacity: 0.5;
}


/***************************************************************
*              SELECTORES PÁGINA DETALLE
***************************************************************/

.float-left {
  float: left;
}


.detalle__txt,
.presentacion__txt {
  margin-bottom: 3em;
  padding: 2em;
  text-align: justify;
  line-height: 2em;
}

.detalle__picture img, 
.detalle__img {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}


/*
Las imagenes interiores de la página se mustran con float
*/
.descripcion__img-left img {
  float: left;
  width: 50%;
  height: auto;
  margin-right: 2em;
  margin-bottom: 2em;
}

.descripcion__img-right img {
  width: 50%;
  float: right;
  height: auto;
  margin-left: 2em;
  margin-bottom: 2em;
}

.receta__elaboracion,
.receta__ingredientes {
  padding: 1em;
}

.receta__lista-ingredientes,
.receta__lista-pasos {
  list-style: none;
}

/*
Las listas de ingredientes y pasos de elaboración en flex para ajustar las dos columnas a los extremos
*/
.receta__ingrediente,
.receta__paso {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 4rem;
}

.dotted {
  background: url(../img/dot.png) 0 bottom repeat-x;
  margin-bottom: 1rem;
}

.receta__descripcion {
  padding-right: 1rem;
}

.receta__cantidad {
  padding-left: 1rem;
}

.dotted .receta__descripcion,
.dotted .receta__cantidad {
  margin-bottom: -0.2rem;
  background-color: var(--bg-highlight-color);
}

.receta__dificultad {
  font-weight: bolder;
}

/*Contenedor del iframe para ajustar tamaño y posición*/
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/*Formato del iframe para ajustarse al container que lo contiene en height y width*/
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/***************************************************************
*              SELECTORES PÁGINA PRESENTACIÓN
***************************************************************/

.especialidades__lista {
  padding-left: 0;
  list-style: none;
}

.especialidades-item {
  min-height: 110px;
  margin-bottom: 2rem;
}

.especialidades-item-img {
  width: 150px;
  height: auto;
}

/*Para el texto: Pulse sobre la imagen para ver presentación*/
.especialidades__cab {
  display: flex;
  flex-direction: row-reverse;
  font-size: 0.7rem;
}
